<<<<<<< HEAD
=======


>>>>>>> a69cbd580e83763d404df80c56d6cc025359536c
 <div class="row counter">

    <div class="col-3 counterpadding">
      <div class="line">
        <span class="null" data-target="1500">
          <h1>000+</h1>
        </span>
        <h4>Happy Customer</h4>
      </div>

    </div>
    <div class="col-3 counterpadding">
      <div class="line">
        <span class="null" data-target="2000">
          <h1>000+</h1>
        </span>
        <h4>Complete Project</h4>
      </div>

    </div>
    <div class="col-3 counterpadding">
      <div class="line">
        <span class="null" data-target="1500">
          <h1>000+</h1>
        </span>
        <h4>Employee Team</h4>
      </div>
    </div>
    <div class="col-3 counterpadding">
      <div class="line">
        <span class="null" data-target="15">
          <h1>000+</h1>
        </span>
        <h4>Years Experience</h4>
      </div>
    </div>
  </div>