<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Frevid Solution</title>
</head>

<body>
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <hr>
                 <div class="  col-xs-6 col-md-3 footer">
                    <h4> Our-Menu</h4>
                    <ul class="footer-links">
                        <li><a href="/about">About </a></li>
                        <li><a href="#">Our Work</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>

                 <div class=" col-xs-6 col-md-3 footer">
                    <h4>Services</h4>
                    <ul class="footer-links">
                        <li><a href="/service/web">Web Design</a></li>
                        <li><a href="/service/branding">Branding</a></li>
                        <li><a href="/service/web-development">Web Development</a></li>

                    </ul>
                </div>
                  <div class=" col-xs-6 col-md-3 footer">
                        <h4>Contact-Now</h4><br>
                        <h5>+91 9876543210</h5>
                        <h5>Frevid@gmail.com</h5>
                    </div>


                <div class=" col-xs-6 col-md-3 footers">
                    
                    <h4>Address</h4>
                    
                    <span>B-705, Times Square Arcade-II, Nr.</span><br>
                    <span>Avalon Hotel, Bodakdev,</span><br>
                    <span>Ahmedabad, Gujarat 380059, India</span><br><br>
                    </div>


                  

               
               
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by
                        <a href="#">Frevid Solution</a>.
                    </p>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                        <li><a class="facebook" href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a class="instagram" href="#"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a class="whatsapp" href="https://whatsapp.com/dl/"><i class="fa-brands fa-whatsapp"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>