<div class="home-wrap">
  


    <div class="col-md-5 col-xl-5 col-xxl-5 col-sm-12 m-auto">
      <div class="text-center  heading">
        Frevid Solution Provid &nbsp;&nbsp;&nbsp;&nbsp; <span class="multitext  t"></span>
      </div>
      <div class="my-5 home-p ">

        <p>Let's Make More Business End to End Web Solutions</p>
      </div>
    <div class="my-5  img-flex">
 <button type="button" onclick="window.location.href='/ourwork';" class="button">Our-Work</button>      <button type="button" onclick="window.location.href='/contact';" class="btncontact">Contact-Us</button>

    </div>
    </div>
    
     <div class="col-md-7 col-xl-7 col-xxl-7 my-5 home-image">
      <img src="/static/images/home.gif" class="img-fluid" alt="">
    </div>

   </div>
  
