
<div class="row">


    <div class="col-md-4 m-auto">
      <div class="text-center  my-5 heading">
        Frevid Solution Provid &nbsp;&nbsp;&nbsp; <span class="multitext t"></span>
      </div>
      <div class="my-5 ">

        <p>Let's Make More Business End to End Web Solutions</p>
      </div>
      <div class="my-5">
        <button type="button" class="button">Our-Work</button>
        <button type="button" class="btncontact ">Contact-Us</button>

      </div>
    </div>
    <div class="col-md-7 my-5 home-image">
      <img src="/static/images/home.gif" class="img-fluid" alt="">
    </div>
  </div>
