<section class="ourwork">
    <div class="container">
        <div class="row">
            <div class="col-xs col-md-12 col-sm-12 col-lg-6 col-xl-6 ">
                <div class="ourwork-text">
                    <h1>See Our Work</h1>
                    <div class="ourwork-box ">
                        <span>website-Design</span>
                        <span>Branding</span>
                        <span>UI/UX Design</span>

                    </div>
                    <p>We are a full-service design agency that specializes in creating visually appealing, easy-to-use
                        websites. Our work is focused on the user experience, usability and user interface design.</p>
                    <button class="ourwork-btn" onclick="window.location.href='/ourwork'" role="button">View All</button>

                </div>
            </div>
            <div class="col-xs col-md-12  col-sm-12 col-lg-6 col-xl-6 ">
                <div class="ourwork-img">
                    <img src="/static/images/our-work.webp" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>


</section>