<section id="process">
    <div class="container">


        <div class="texts" style="text-align: center;padding:60px">
            <span> Our Process</span>
        </div>

        {{!-- step1 --}}

        <div class="row step">


            

            <div class="container col-md-6  step pt-5">
                <h1><span class="colur">01.</span> Discovery</h1>
                <p>
                    The team of analysts at Bitzscript will sit down with the customer to get a complete
                    understanding
                    of the requirement. The analysts are jointly supported by the functional experts to bring in the
                    expertise of functional workflows.
                </p>
            </div>
            <div class=" col-md-6  ">
                <img src="/static/images/setp1.webp" alt="" class="img-fluid" srcset="">
            </div>




            {{!-- step2 --}}


            <div class="col-md-6 ">
                <img src="/static/images/step2.webp" alt="" class="img-fluid" srcset="">
            </div>
            <div class="col-md-6 step pt-5">
                <h1><span class="colur">02.</span> Plan</h1>
                <p>
                    Once the requirement is captured, and ensured that every detail is taken into consideration, we
                    create a prototype or a wireframe of the proposed solution to give a good understanding and look and
                    feel of the system. During the prototype phase, we will incorporate all the changes that the
                    customer wants in the system.
                </p>
            </div>

            


            {{!-- step3 --}}
            

            <div class="col-md-6 step  pt-5">
                <h1><span class="colur">03.</span> Execute</h1>
                <p>
                    As soon as the wireframe is signed off, the development team starts building the system according to
                    the prototype features and workflow. Once the solution is developed, it undergoes a QA and QC phase
                    to check for bugs. The customer also gets involved in the testing process from user acceptance point
                    of view.
                </p>
            </div>
            <div class="col-md-6  ">
                <img src="/static/images/step3.webp" alt="" class="img-fluid" srcset="">
            </div>



            {{!-- step4 --}}
              <div class="col-md-6 ">
                <img src="/static/images/step4.webp" alt="" class="img-fluid" srcset="">
            </div>

            <div class="col-md-6 step pt-5">
                <h1><span class="colur">04.</span> Deliver</h1>
                <p>
                    Once the product is successfully tested, the team will deploy the solution on customers live
                    server. The team will do complete hand-holding with the customer to ensure a successful deployment.
                    Post deployment, the customer is provided with a user manual and a technical guide.
                </p>
            </div>

          
        </div>
    </div>

</section>