<section class="service_cs">
    <div class="texts" style="text-align: center;padding:80px">

        <span>Our-Services</span>
    </div>
    <div class="container">

        <div class="row">


            {{#each data}}

            <div class="col-md-4  col-sm-12 col-xl-4 col-xxl-4 " style="padding-top:25px;padding-bottom:30px;">


                <div class="">

                    <div class="card container  " style="width: 25rem;height:500px;box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;">
                        <a href="{{this.link}}">
                            <img src="{{this.imgUrl}}" class="img-fluid" alt="...">
                        </a>
                        <div class="card-body p-3 center ">
                            <h4>{{this.title}}</h4>
                            <p class="card-text" style="text-align:center;">{{this.subTitle}}</p>


                        </div>
                    </div>
                </div>
            </div>
            {{/each}}


        </div>
</section>