
<section class="service_cs">
   <div class="texts">

            <h1>Our-Services</h1>
        </div>
    <div class="container">
     
        <div class="row">

            <div class="col-md-4 ">
                <div class=" container text-center  " style="width: 25rem;">
                    <img src="/static/images/ux.png" class="card-img-top1" alt="...">
                    <div class="card-body p-3 ">
                        <h5 class="card-title">Website-Design</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                        <a href="/service/web" class="btn btn-light">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class=" container text-center " style="width: 25rem;">
                    <img src="/static/images/ux.png" class="card-img-top2" alt="...">
                    <div class="card-body p-3">
                        <h5 class="card-title">Logo-Design</h5>
                        <p class="card-text">We take care of every step on your branding from picking the right colours
                            to
                            creating a mesmerizing design.</p>
                        <a href="/service/logo" class="btn btn-light">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 ">
                <div class="container text-center " style="width: 25rem;">
                    <img src="/static/images/ux.png" class="card-img-top2" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">UI/UX Design</h5>
                        <p class="card-text service-text">We take care of every step on your branding from picking the
                            right colours to
                            creating a mesmerizing design..</p>
                        <a href="#" class="btn btn-light">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
