
  <section class="footer-up-section">
    <div class="container">
      <div class="row">
        <h1 style="font-weight: 800;font-size:50px">One call away from a whole new</h1>
        <h1 style="font-weight: 800;font-size:50px">business</h1>
        <span style="font-size: 18px;">We offer the best web design packages for those who want just enough to get
          started.</span>
        <span style="font-size: 18px;">Schedule your discovery call today!</span>

        <div class="my-5">
          <button type="button" class="button">Our-Work</button>
        <button type="button" onclick="window.location.href='/contact';" class="btncontact">Contact-Us</button>
        </div>
      </div>
    </div>

  </section>