<section class="Technologies">
    <div class="container-fluid">
        <div class="row">
            <div class="technologies-text">
                <h4>WE ARE EXPERT IN...</h4>
                <h1>Technologies</h1>
            </div>
        </div>
        {{!-- <div class="container-fluid"> --}}
            
                <div class="wrap">
                    <div class="">
                        <div class="technologies-img">
                            <picture>
                                <source srcset="/static/images/css.webp" media="(min-width: 400px)">
                                <img src="/static/images/css.webp" class="img-fluid" alt="">
                            </picture>
                        </div>
                    </div>
                    <div class="">
                        <div class="technologies-img">
                            <img src="/static/images/java.webp" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="">
                        <div class="technologies-img">
                            <img src="/static/images/js.webp" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="">
                        <div class="technologies-img">
                            <img src="/static/images/larawel.webp" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="">
                        <div class="technologies-img">
                            <img src="/static/images/php.webp" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="">
                        <div class="technologies-img">
                            <img src="/static/images/react.webp" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
        


        {{!-- </div> --}}
</section>