<section class="Technologies">
    <div class="container-fluid">
        <div class="row">
             <div class="technologies-text">
                <h4>WE ARE EXPERT IN...</h4>
                <h1>Technologies</h1>
             </div>
        </div>
        <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="technologies-img">
                    <img src="/static/images/css.webp" alt="">
                </div>
            </div>
            <div class="col">
                <div class="technologies-img">
                    <img src="/static/images/java.webp" alt="">
                </div>
            </div>
            <div class="col">
                <div class="technologies-img">
                    <img src="/static/images/js.webp" alt="">
                </div>
            </div>
            <div class="col">
                <div class="technologies-img">
                    <img src="/static/images/larawel.webp" alt="">
                </div>
            </div>
            <div class="col">
                <div class="technologies-img">
                    <img src="/static/images/php.webp" alt="">
                </div>
            </div>
            <div class="col">
                <div class="technologies-img">
                    <img src="/static/images/react.webp" alt="">
                </div>
            </div>
        </div>

        
    </div>
</section>