<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/css/style.css">
    <title>Frevid solution</title>
</head>

<body>

    {{>navbar}}
    <section id="ourwork-section">

        <div class="ourwork-flex">

            {{#each ourWork}}
            <div class="flex-wrap" style="width: 27rem;">
                <div class="img" style="height: 450px; overflow-y: scroll:hidden; width: 100%;">
                    <img src={{this.imgUrl}} class="card-img-top" alt="">
                </div>
                <div class="card-body">
                    <h3 class="card-title ourwork-title ">{{this.title}}</h3>


                    <a href={{this.siteLink}} class="web-link" style="margin-bottom: 20px;">visit website>></a>
                </div>
            </div>
            {{/each}}



        </div>

    </section>
    <div style="margin-top:50px;"> {{>tagline}}</div>

    {{>footer}}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

</body>

</html>