<!DOCTYPE html>
<html lang="en">



<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">



  <link rel="stylesheet" href="/static/css/style.css">
  <title>Frevid solution</title>
</head>

<body>

  {{>navbar}}
  <section class="web_section">

    <div class="container">
      <div class="row justify">
        <div class=" container  col-md-5  ">
          <div class="web-text">
            <h1 style="font-weight:bolder;font-size: 48px;">Website Design </h1>
            <h1 style="font-weight:bolder;font-size: 48px;">Company in Ahmedabad</h1>
          </div>

          <p style="font-size: 25px;padding-top: 12px; color:white">Any business who is about to start, needs to get
            their online
            presence taken care of. This is achieved by
            having a website in place. Todays market demands a highly interactive website and not just a bunch of pages
            put together but a complete solution, in itself.</p>
          <div class="my-5">
            <button type="button" class="button">Our-Work</button>
            <button type="button" onclick="window.location.href='/contact';" class="btncontact">Contact-Us</button>

          </div>
        </div>

        <div class=" container img col-md-6 ">
          <img src="/static/images/web.webp" class="img-fluid" alt="">
        </div>
      </div>
  </section>


  <div class="container">
    <div class="row">
      <div style="padding-top: 90px; padding-bottom:80px" class="col-md-12">
        <h3 style="font-weight: 800;">Trusted Web Design Company in Ahmedabad</h3>
        <div class="p-text">
          <p style="padding-top: 10px;">At Frevid Solutions, we ensure a complete and comprehensive website
            solution for all those
            business
            owners who are looking to take advantage of the internet and want to deliver total customer
            satisfaction.
          </p>
          <p>A website is the first impression of your company and it is important that it reflects your brand. It
            should be simple, easy to navigate, and visually appealing. We can help you with these aspects
          </p>
          <p>We will not just do the designing and coding for you, we will also provide you with a strategy to
            help you grow your business online. we will work closely with you to understand your needs and goals
            and create a website that fits those needs.
          </p>
        </div>
      </div>
    </div>
  </div>


  <section class="web-offer">
    <div class="container ">
      <div class="row">
        <h1 style="text-align:center;padding-top:50px;padding-bottom:20px;font-weight:bold;font-size:50px">We Offer
          Website Design Services</h1>
        <div class="col-md-4" style="padding-top:25px">

          <div class="shadow-lg  rounded-pill ">

            <div class="card container text-center  " style="width: 25rem;height:330px">
              <img src="/static/images/web-1.webp" class="img-fluid" style="height: 100px;width:fit-content" alt="...">
              <div class="card-body p-3 ">
                <h4 style="font-weight: 800;text-align: left;">Custom Website Design</h4>
                <p class="card-text" style="font-size: 18px;padding-top: 15px;">Are you looking for a web design
                  that is creative, simple, and attractive to your
                  customers? Then Frevid solution just what you need.</p>
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-4" style="padding-top:25px">

          <div class="shadow-lg  rounded-pill ">

            <div class="card container text-center  " style="width: 25rem;height:330px">
              <img src="/static/images/web-2.webp" class="img-fluid" style="height: 100px;width:fit-content" alt="...">
              <div class="card-body p-3 ">
                <h4 style="font-weight: 800;text-align: left;">eCommerce Website Design</h4>
                <p class="card-text" style="font-size: 18px;padding-top: 15px;">If you’re looking for a professional
                  website design company, we’ll craft an e-commerce website that will be designed or redesigned by
                  taking care of all the nuances of your business needs.</p>
              </div>
            </div>

          </div>
        </div>
        <div class="col-md-4" style="padding-top:25px">

          <div class="shadow-lg  rounded-pill ">

            <div class="card container text-center  " style="width: 25rem;height:330px">
              <img src="/static/images/web-3.webp" class="img-fluid" style="height: 100px;width:fit-content" alt="...">
              <div class="card-body p-3 ">
                <h4 style="font-weight: 800;text-align: left;">Responsive Website Design</h4>
                <p class="card-text" style="font-size: 18px;padding-top: 15px;">Efficient web design that communicates
                  with your audience on every device. Take advantage of our responsive web design now!</p>
              </div>

            </div>
          </div>

        </div>

      </div>
  </section>

  {{> process}}
  {{>tagline}}
  {{>footer}}




  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>

</body>


</html>