body {
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    /* font-family: 'poiret One', 'cursive'; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

/**************************** navbar ******************************/

nav {
    color: black;
    font-size: 20px;
    padding: 20px 0px;
}

.tname {
    font-size: 25px;
    padding: 20px 0px;
}

.colur {
    color: rgba(83, 67, 240, 255);
    font-weight: 700;
}

.dropdown-item:hover {
    color: white;
    background-color: rgba(83, 67, 240, 255);
}

.nav-link:hover {
    color: black;
    color: rgba(83, 67, 240, 255);
}



/***********************************8 home *******************************************/


.home-image img {
    height: 90%;
    width: 96%;
}

.heading {
    font-weight: 700;
    font-size: 45px;


}

p {
    font-size: 27px;
    font-weight: 500;
    text-align: justify;
}




.t {
    color: rgba(83, 67, 240, 255);
    font-size: 50px;
}

.button {
    /* background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%); */
    background-color: rgba(83, 67, 240, 255);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 25px;
    font-weight: 500;
    height: 4rem;
    padding: 20px 0px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 10px;
}

.button:hover {
    box-shadow: rgba(83, 67, 240, 255) 0 1px 30px;
    transition-duration: 0.1s;
}

@media (min-width: 768px) {
    .button {
        padding: 0 2.6rem;
    }
}

.btncontact {
    background-color: white;
    border-radius: 8px;
    border: solid 2px rgba(83, 67, 240, 255);
    box-sizing: border-box;
    color: rgba(83, 67, 240, 255);
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 25px;
    font-weight: 500;
    height: 4rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 10px;
}

.btncontact:hover {
    box-shadow: rgba(83, 67, 240, 255) 0 1px 30px;
    transition-duration: 0.1s;
}


/**********************************************8 counter *******************************************************/


.counter {
    background-color: rgba(83, 67, 240, 255);
    text-align: center;
    height: 350px;
}

.null {
    font-size: 65px;
    font-weight: 700;
}

.nul {
    font-size: 65px;
    font-weight: 700;
}

.counterpadding {
    color: #FFFFFF;
    padding: 75px 0px;
    font-weight: 800;


}

.line {
    border-right-style: solid;
    border-right-width: 3px;
    height: 215px;
    padding: 40px 0px;

}

/*********************************************8* services ***********************************************************/

.center h4 {
    text-align: center;
    font-weight: 800;
}

.texts span {
    color: rgba(83, 67, 240, 255);

    padding-top: 60px;
    font-weight: 700;
    font-size: 50px;
}

.texts span:hover {
    color: black;

}

.card-text {
    font-size: 20px;
    padding-top: 20px;
    margin: 15px 0px;
}






/******************************** about ***************************/

.col-6 img {
    height: 80%;
    width: 100%;

}

.col-md-6 h1 {
    font-weight: 800;
}

.containt_text p {
    font-size: 20px;
}

/********************************** process *********************************/

.step p {
    font-size: 20px;
}

/************************************ footer **********************/

.footer {
    border-right-style: solid;
    border-right-width: 1px;
    padding: 0px 65px;
}

.footers {
    padding: 0px 65px;

}

.site-footer {
    background-color: #5b6590;
    padding: 45px 0 20px;
    font-size: 20px;

    line-height: 24px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.site-footer span {
    font-size: 15px;
    line-height: 1em;
}

.site-footer h5:hover {
    color: #9ca6ba;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5;
    padding: 15px;

}

.site-footer hr.small {
    margin: 20px 0;

}

.site-footer h4 {
    color: #fff;
    font-size: 25px;
    font-weight: 800;
    margin-top: 5px;
    letter-spacing: 1px
}

.site-footer a {
    color: #e9e3e3;
    line-height: 1.5em;

}

.site-footer a:hover {
    color: #9ca6ba;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    padding-top: 10px;
    list-style: none;

}

.footer-links li {
    display: block
}

.footer-links a {
    color: #eef0f1;
    text-decoration: none;

}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #b3b4b5;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}

.copyright-text {
    margin: 10px;
    font-size: 15px;
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }

    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.instagram:hover {
    background-color: rgb(150, 47, 191);
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.social-icons a.whatsapp:hover {
    background-color: #25D366
}

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}

/********************************** web **************************/
.web_section {
    background-color: rgba(83, 67, 240, 255);
    height: fit-content;

}

.web-offer {
    background-color: rgb(242, 249, 247);
    height: fit-content;
    padding-bottom: 40px;

}

.col-md-6 img {
    height: 80%;
    width: 100%;

}

.web-text {

    padding-top: 100px;
    font-weight: 800;
    font-size: 70px;
    color: white;

}

.img img {
    padding-top: 30px;
}

.p-text p {
    font-size: 20px;
}

.button {
    /* background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%); */
    background-color: rgba(83, 67, 240, 255);
    border-radius: 8px;
    border-style: solid;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 25px;
    font-weight: 500;
    height: 4rem;
    padding:20px 0px;
    padding-top: 100px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 10px;
}


.button:hover {
    box-shadow: black 0 1px 30px;
    transition-duration: 0.1s;
}

@media (min-width: 768px) {
    .button {
        padding: 0 2.6rem;
    }
}

.btncontact {
    background-color: white;
    border-radius: 8px;
    border: solid 2px black;
    box-sizing: border-box;
    color: rgba(83, 67, 240, 255);
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 25px;
    font-weight: 500;
    height: 4rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 10px;
}

.btncontact:hover {
    box-shadow: black 0 1px 30px;
    transition-duration: 0.1s;
}

/***************************** branding ************************/
.branding_section {
    background-color: rgba(83, 67, 240, 255);
    height: fit-content;

}

.branding-offer {
    background-color: rgb(242, 249, 247);
    height: fit-content;
    padding-bottom: 40px;
}

.col-md-6 img {
    height: 80%;
    width: 100%;

}

.branding-text {

    padding-top: 100px;
    font-weight: 800;
    font-size: 70px;
    color: white;

}

.img img {
    padding-top: 30px;
}

.p-text p {
    font-size: 20px;
    padding-top: 10px;
}

.button {
    /* background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%); */
    background-color: rgba(83, 67, 240, 255);
    border-radius: 8px;
    border-style: solid;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 25px;
    font-weight: 500;
    height: 4rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 10px;
}


.button:hover {
    box-shadow: black 0 1px 30px;
    transition-duration: 0.1s;
}

@media (min-width: 768px) {
    .button {
        padding: 0 2.6rem;
    }
}

.btncontact {
    background-color: white;
    border-radius: 8px;
    border: solid 2px black;
    box-sizing: border-box;
    color: rgba(83, 67, 240, 255);
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 25px;
    font-weight: 500;
    height: 4rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 10px;
}

.btncontact:hover {
    box-shadow: black 0 1px 30px;
    transition-duration: 0.1s;
}

/******************************* error page *********************/


.page_404 {
    padding: 40px 0;
    background: #fff;
    font-family: 'Arvo', serif;
}

.page_404 img {
    width: 100%;
}

.four_zero_four_bg {

    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 500px;
    background-position: center;
}


.four_zero_four_bg h1 {
    font-size: 80px;
}

.four_zero_four_bg h3 {
    font-size: 80px;
}

.link_404 {
    color: #fff !important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
}

.contant_box_404 {
    margin-top: -50px;
}

/* *************************************footer-up****************************************/

.footer-up-section {
    background-color: rgb(242, 249, 247);
    text-align: center;
    padding-top: 40px;


}

/*-------------------our-work----------------*/

.ourwork {
    background-color: rgb(242, 249, 247);
    /* background-color: rgba(83, 67, 240, 255); */
    margin-top: 40px;
    padding-top: 35px;
    padding-bottom: 40px;
}

.ourwork-text {
    padding-top: 20px;
}

.ourwork-text h1 {
    font-size: 55px;
    font-weight: 700;
    padding: 10px 0px;

    color: rgba(83, 67, 240, 255);
}

.ourwork-box {
    padding: 10px 0px;
}

.ourwork-box span {
    border: 1.5px solid black;
    border-radius: 3px;
    padding: 2px 5px;
    font-size: 20px;
    font-weight: 500;
}

.ourwork-text p {
    padding-top: 13px;
    font-size: 20px;
    font-weight: 400;
}

.ourwork-btn {
    background-color: rgba(83, 67, 240, 255);
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 8px .9em;
    margin-top: 12px;
    margin-bottom: 12px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}

.ourwork-btn:hover,
.ourwork-btn:focus {
    background-color: #FFFFFF;
    color: rgba(83, 67, 240, 255);
    border: 1.5px solid rgba(83, 67, 240, 255);
    border-radius: 3px;
    font-weight: 800;
}

.ourwork-btn:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.ourwork-btn:active {
    background-color: #0064bd;
    box-shadow: none;
}

.ourwork-img img {

    width: 90%;
    padding-bottom: 20px;
}

/*---------------------- technologies--------------- */

.Technologies {
    /* background-color: rgba(83, 67, 240, 255); */
    padding: 20px 0px;
    padding: 40px 0px;
}

.technologies-text h4 {

    color: rgba(83, 67, 240, 255);
    text-align: center;
    padding-top: 50px;
    font-weight: 700;
}

.technologies-text h1 {

    text-align: center;
    font-weight: 700;
    font-size: 55px;
}

.technologies-img {
    padding: 50px 0px;
    margin-left: 30px;
}

.technologies-img img {
    background-color: #FFFFFF;
    border: 1.5px solid;
    border-radius: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    width: 90%;

}
/***************************** contact ***************************/
.contact_section {
    background-color: rgba(83, 67, 240, 255);
    height: fit-content;
    padding: 100px 0px;

}
.contact-text {

    padding-top: 100px;
    font-weight: 800;
    font-size: 70px;
    color: white;

}
.form-bg{
    background-color:rgba(83, 67, 240, 255) ;
    margin-top: 30px;
    margin-bottom: 30px;

}
.map{
    margin-top: 30px;
}